#div-form{
    width: 500px;
    min-height: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#form{
    background-color: aliceblue;
    padding: 10px;
}

label{
    display: block;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2em;
}

.input-vlr01, .input-vlr02, .input-vlr03, .input-vlr04, .input-vlr05{
    width: 400px;
    height: 40px;
    padding: 4px;
    border-radius: 8px;
    font-size: 1.0em;
}

input[type="radio"], input[type="checkbox"]{
    width: 25px;
    height: 15px;
    cursor: pointer;
}

#comentario{
    width: 400px;
    height: 100px;
    padding: 20px;
    resize: none;
}


#div-btns{
    margin: 20px 0px;
    height: 50px;
    padding-top: 20px;
    padding-left: 15px;
}

#btn-enviar{
    background-color: rgb(130, 170, 255);
}

#tbn-limpar{
    background-color: rgb(175, 175, 175);
}

#btn{
    background-color: rgb(201, 255, 151);
}

button{
    width: 140px;
    height: 30px;
    cursor: pointer;
}

input::placeholder, textarea::placeholder{
    color: black;
    letter-spacing: 5px;
}