@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Roboto,sans-serif;

}


:root{

--principal:#323dd3;
--secundaria:#faa638;
--fundo:#f5f5f5;

}



body{

background:var(--fundo);

}



/* HEADER */


.cabecalho{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

background:white;

box-shadow:0 3px 10px #ddd;

}



.logo{

font-size:2rem;

font-weight:bold;

color:var(--principal);

}



nav ul{

display:flex;

gap:30px;

list-style:none;

}



nav a{

text-decoration:none;

color:#333;

font-weight:bold;

}



nav a:hover{

color:var(--principal);

}





/* BANNER */


.banner{

text-align:center;

padding:60px 20px;

background:

linear-gradient(
120deg,
#323dd3,
#faa638
);


color:white;

}



.banner h1{

font-size:2.5rem;

margin-bottom:15px;

}





/* PESQUISA */


.pesquisa{

display:flex;

justify-content:center;

padding:30px;


}


.pesquisa input{

width:60%;

padding:15px;

border-radius:30px;

border:1px solid #ccc;

font-size:18px;

}




/* CATEGORIAS */


.categorias{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

margin-bottom:40px;

}



.categorias button{


padding:10px 20px;

border:none;

border-radius:20px;

background:white;

cursor:pointer;

box-shadow:0 3px 8px #ccc;


}



.categorias button:hover{

background:var(--principal);

color:white;

}





/* PRODUTOS */


#cards{


width:90%;

margin:auto;

display:grid;


grid-template-columns:

repeat(
auto-fit,
minmax(230px,1fr)
);


gap:30px;


}




.card{


background:white;

padding:20px;

border-radius:15px;


text-align:center;


box-shadow:

0 5px 15px rgba(0,0,0,0.1);


transition:.3s;


}



.card:hover{

transform:translateY(-8px);

}




.card img{


width:180px;

height:230px;

object-fit:contain;


}



.card h2{


color:var(--secundaria);

margin:15px;


}



.descricao{

font-size:.9rem;

color:#666;

margin-bottom: 15px;

}





.btn-add{


width:100%;

padding:12px;


border:none;

border-radius:8px;


background:var(--principal);

color:white;

font-weight:bold;


cursor:pointer;


}



.btn-add:hover{


background:#202aa0;


}




footer{


margin-top:50px;

padding:30px;

text-align:center;

background:#222;

color:white;


}